h2, h3, h4, h5 {
  color: blue;
  font-family: sans-serif;
}

thead, tfoot {
  color: red;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

table {
  border-collapse: collapse;
}

#teamRoster li {
  list-style-type: square;
}

a:hover {
  background-color: yellow;
  text-decoration: none;
}

blockquote {
  background-color: darkblue;
  color: white;
}

#teamRoster>li:nth-child(1) {
  /* background-image: url(images/broncos.jpg); */
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("images/broncos.jpg") no-repeat;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  opacity: 90%;
}

#teamRoster>li:nth-child(2) {
  /* background-image: url(images/pats.jpg); */
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("images/bears.jpg") no-repeat;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

ol li:nth-child(1) {
  font-weight: bold;
}

img {
  display: none;
}

#checkbox-grid {
  list-style: none;
}

tr:nth-child(even) {
  background-color: #CCC;
}

tr:nth-child(odd) {
  background-color: #FFF;
}

thead tr:nth-child(2) {
  background-color: white;
}
